@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-toggle: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease ;
    --tran-03: all 0.3s ease ;
    --tran-04: all 0.4s ease ;
    --tran-05: all 0.5s ease ;
}

body{
    background: #E4E9F7;
}
/* custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

/* reusable */

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
/* batas */
.content {
    display: flex;
    gap: 1rem;
}

/*-------------------*/
.sidebar{
    height: 100vh;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    border-right: 1px solid #e6e5e5;

}
.menu{
    overflow-y: auto;
    height: 500px;
    margin-top: 10px;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 22px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
    margin-bottom: 10px;
}

.sidebar .image-text .image i{
    font-size: 40px;
    color: green;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
    font-size: 22px;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    display: flex;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100%-50px);
}
/* batas */
.top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: #FFF;
    z-index: 10;
    border-bottom: 1px solid #e6e5e5;
}
.search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.search-box input{
    position: absolute;
    border: 1px solid #e6e5e5;
    background-color: #FFF;
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: #707070;
}.sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.main-content {
    margin-top: 5rem;
}
